<form class="" action="/results">
  <div class="form-group">
    <label for="side1">Enter a length for a side of a triangle:</label>
    <input type="text" id="side1" name="side1" class="form-control">
    <label for="side2">Enter a length for a side of a triangle:</label>
    <input type="text" id="side2" name="side2" class="form-control">
    <label for="side3">Enter a length for a side of a triangle:</label>
    <input type="text" id="side3" name="side3" class="form-control">
  </div>
  <button type="submit" class="btn">Reveal</button>
</form>
